<html>
	<h1>Image Search Abstraction Layer</h1>
	<p>For the freeCodeCamp challenge over at <a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer" target="_blank">https://www.freecodecamp.com/challenges/image-search-abstraction-layer</a></p>
	<h3>How To Search Images:</h3>
	<p>https://salty-dusk-28708.herokuapp.com/search?term=&#60;INSERT_SEARCH_TERM_HERE&#62;offset=&#60;INSERT_OFFSET_VALUE_HERE&#62;</p>
	<p>where offset is defaulted to 0 if not specified.</p>
	<h3>Image Search Example Output:</h3>
	<p>[{"name":"... funny cats part 27 25 pics funny cats part 28 25 pics funny cats part","thumbnailUrl":"https://tse4.mm.bing.net/th?id=OIP.dfh_ESgZleg2d3XnHPSHiAEyDM&pid=Api","imageUrl":"http://www.bing.com/cr?IG=CE5BF30650454E719AD8AB6E9AF651F6&CID=105BEA1D79E3640A3419E060787365B1&rd=1&h=MO5s4xHepDNVB_W15JG66ypU4PIj32gvrABbj0_rVUs&v=1&r=http%3a%2f%2f4.bp.blogspot.com%2f-z4sMggeD4dg%2fUO2TB9INuFI%2fAAAAAAAAdwc%2fKg5dqlKKHrQ%2fs1600%2ffunny-cat-pictures-032-025.jpg&p=DevEx,5008.1","sourceUrl":"amazing-creature.blogspot.com/2013/01/funny-cats-part-32-25-pics-10..."}]</p>
	<h3>How To Search History:</h3>
	<p>https://salty-dusk-28708.herokuapp.com/history</p>
	<h3>Search History Example Output:</h3>
	<p>[{"query":"funny cats","timestamp":"2017-05-08T10:59:36.602Z"},{"query":"funny cats","timestamp":"2017-05-08T11:00:55.250Z"},{"query":"japanese sushi","timestamp":"2017-05-08T11:01:16.288Z"}]</p>
</html>