<html>
	<h1>Image Search Abstraction Layer</h1>
	<p>For the freeCodeCamp challenge over at <a href="https://www.freecodecamp.com/challenges/image-search-abstraction-layer" target="_blank">https://www.freecodecamp.com/challenges/image-search-abstraction-layer</a></p>
	<h3>How To Search Images:</h3>
	<p>https://cryptic-plateau-37469.herokuapp.com/search?query=&#60;INSERT_SEARCH_TERM_HERE&#62;offset=&#60;INSERT_OFFSET_VALUE_HERE&#62;</p>
	<p>where offset is defaulted to 0 if not specified.</p>
	<h3>Image Search Example Output:</h3>
	<p></p>
	<h3>How To Search History:</h3>
	<p>https://cryptic-plateau-37469.herokuapp.com/history</p>
	<h3>Search History Example Output:</h3>
	<p>[{"query":"funny cats","timestamp":"2017-05-08T10:59:36.602Z"},{"query":"funny cats","timestamp":"2017-05-08T11:00:55.250Z"},{"query":"japanese sushi","timestamp":"2017-05-08T11:01:16.288Z"}]</p>
</html>